<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <rvvup_ax_integration>
                <pay_button_text>Review Statement</pay_button_text>
                <loading_bar_text>Loading statement details, please wait...</loading_bar_text>
            </rvvup_ax_integration>
        </payment>
    </default>
</config>
