<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rvvup\AxInvoicePayment\Api\GetInvoiceInterface"
                type="Rvvup\AxInvoicePayment\Model\GetInvoice"/>
    <preference for="Rvvup\AxInvoicePayment\Api\UpdateInvoiceInterface"
                type="Rvvup\AxInvoicePayment\Model\UpdateInvoice"/>
    <preference for="Rvvup\AxInvoicePayment\Api\ResponseInterface"
                type="Rvvup\AxInvoicePayment\Model\Response"/>
    <preference for="Rvvup\AxInvoicePayment\Api\ResponseDataInterface"
                type="Rvvup\AxInvoicePayment\Model\ResponseData"/>
    <preference for="Rvvup\AxInvoicePayment\Api\HeaderDataInterface"
                type="Rvvup\AxInvoicePayment\Model\HeaderData"/>
    <preference for="Rvvup\AxInvoicePayment\Api\InvoiceDataInterface"
                type="Rvvup\AxInvoicePayment\Model\InvoiceData"/>
    <preference for="Rvvup\AxInvoicePayment\Model\Environment\GetEnvironmentVersionsInterface"
                type="Rvvup\AxInvoicePayment\Model\Environment\GetEnvironmentVersions"/>
</config>
