<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" sortOrder="1000" translate="label">
            <group id="rvvup_ax_integration" sortOrder="10" showInStore="1"
                   showInDefault="1" translate="label">
                <label>Rvvup AX Integration</label>
                <field id="active" type="select" sortOrder="5" showInDefault="1" translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="company_jwt_mapping" translate="label" type="text" sortOrder="10"
                       showInDefault="1">
                    <label>Company | JWT mappings</label>
                    <frontend_model>Rvvup\AxInvoicePayment\Block\Adminhtml\Field\DynamicRows</frontend_model>
                    <backend_model>Rvvup\AxInvoicePayment\Model\Config\Jwt\Validator</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
